body	{width: 1100px;
        background-color: #FEDCE4;
        font-family: 'Roboto', serif; 
        margin: auto;
        text-align: justify;
		color: #883A4E;
        }

header	{padding: 5px;
      font-size: 1.3em;
      font-family: 'Playfair Display', serif; 
       background-color: #fdfdfd86;
		border-bottom: 1px dashed rgb(156, 42, 13);
        border-left: 1px dashed rgb(172, 42, 23);
        border-right: 1px dashed rgb(172, 42, 23);
		text-align: center;
        box-shadow: 5px 5px 5px rgba(80, 80, 80, 0.144);

        }
       

/* create three columns */
.column {
  float: left;
  width: 25%;
}

/*1000 px screen > 2 columns*/
@media screen and (max-width: 1000px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 575px) {
  .column {
    width: 100%;
  }
}


nav {font-family: 'Roboto', sans-serif;
    font-size: 0.7em;
    text-align: center;
    }

h2{
    text-align: center;
}

.medfig	{width: 1200px
        font-size: 0.8em;
     }
                    
.midimg		{  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 5px 5px; 
    background-color: #dea5a4;
    border: 1px rgb(59, 24, 3) dashed;
    color: #491804f5;
            } 
            

.caption	{width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
            }
            

figcaption	{font-size: 0.60em;
            font-family: 'Georgia', sans-serif;
            color: #ffffff;
            }
            

footer		{border-top: 1px dashed rgb(155, 67, 9);
            position: fixed;
            bottom: 0;
            width: auto;
            background-color: #dea5a4;
            text-align: center;
            padding: 5px;
  
			}

mark {
  background-color: #EA3575;
  color: white;
}
            

